.dash-board-main{
    align-items: center;
    width: 100%;
    height: 700px;
    margin: 0 5px;
}
.dash-board-sub svg{
    display: block;
}
.dash-board-title{
  
    justify-content: center;
}
.dash-board-title h1{
    text-align: center;
}
