.main{
    align-items: center;
    width: 100%;
    height: auto;
}
.sub svg{
    display: block;
}

.sub{
    width:100%;
    display: flex;
    justify-content:center;
}
.video-content{
    max-width: 40%;
    height: auto;
    margin: 5% 20px;
    
}
p{
}
.video-main{
    max-width: 60%;
    width:auto;
    height:400px;
    margin: 20px 10px;
}
.video-assets{
    width:auto;
    height:100%;
    justify-content: center;
}